*{padding:0; margin:0; list-style: none;}

body{background:lightpink}
section{max-width: 1400px; position:relative; padding-top:100px;}
section h1{text-align: center; font-size: 35px; padding-bottom:30px;}
section .box{width:300px; margin:0 auto; border-radius: 30px; border:2px lightcoral solid; padding:30px 130px; background:beige; position:relative;}

/* 할일입력 */
.inputField{position:absolute;  left:50%; transform:translate(-50%, 0); display: flex;}
#field {border:2px lightsalmon solid; padding:3px; background:white; outline: none;  border-radius: 5px; font-size: 18px; margin-right:5px;}
.inputField button{padding:3px; border:0; background:lightsalmon; color:white; font-size: 18px; border-radius: 5px; cursor:pointer;}

/* 할일 */

.listbox{padding-top:50px;}

/* 전체삭제 */
.allDel{padding:8px; border:0; background:lightpink; color:white; border-radius: 5px; font-size: 18px; display: block; margin:0 auto;}
